@import "reset.css";

@import "grid.css";
@import "contents.css";
@import "todos.css";

#todo-screen img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}
#todo-screen {
  overflow: hidden;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.hidden {
  display: none;
}
